.wrapper
{
    background-color: rgba(0, 255, 0, 0.212);
}

h1
{
    text-align: center;
    background: rgb(240, 149, 116);
}
ul
{
    text-align: center;
}
li
{
    display: inline-block;
}
.game
{
    width: 450px;
    background: rgb(202, 199, 199);
}
.block
{
    display: inline-block;
    background: rgb(240, 193, 176);
    width: 100px;
    height: 100px;
    border:1px solid rgb(240, 149, 116);
}